@import url(/public/stylesheets/informacionInversion.css);

/*--------------------------------------MEDIA QUERY------------------------------------*/
/*--------------------Mediaquery max-width:1286px---------------*/
@media all and (max-width:1286px){
    main section#fondo div#texto p{font-size: .9rem;}
}

/*--------------------Mediaquery max-width:1227px---------------*/
@media all and (max-width:1227px){
    header{height: 180px;}
}

/*--------------------Mediaquery max-width:1180px---------------*/
@media all and (max-width:1180px){
    main section#fondo div#texto p{font-size: .85rem;}
}

/*--------------------Mediaquery max-width:1110px---------------*/
@media all and (max-width:1110px){
    main section#fondo div#texto p{font-size: .75rem;}
}

/*--------------------Mediaquery max-width:875px---------------*/
@media all and (max-width:875px){
    main section#fondo div#texto p{font-size: .7rem;}
}

/*--------------------Mediaquery max-width:800px---------------*/
@media all and (max-width:800px){
    /*HEADER*/
    header{height: 190px;}
    header label img{display: none;}
    header #lineaDos nav#derecha a{color: white; text-shadow: none;}
    /*FOOTER*/
    footer label img{display: none;}
}

/*--------------------Mediaquery max-width:750px---------------*/
@media all and (max-width:750px){
    /*MAIN*/
    main{height: 800px;}
    main section#fondo{height: 800px;}
    main section#fondo{flex-flow: row wrap;}
    main section#fondo div#captura{width: 100%; height: 400px;}
    main section#fondo div#texto{width: 100%; height: 400px;}
    main section#fondo div#texto p{font-size: .8rem;}
    main section#fondo h2{left: 100px;}
}

/*--------------------Mediaquery max-width:650px---------------*/
@media all and (max-width:650px){
    /*MAIN*/
    main{height: 900px;}
    main section#fondo{height: 900px;}
}

/*--------------------Mediaquery max-width:600px---------------*/
@media all and (max-width:600px){
    /*HEADER*/
    header{height: 220px;}
}

/*--------------------Mediaquery max-width:550px---------------*/
@media all and (max-width:550px){
    /*MAIN*/
    main{height: 1100px;}
    main section#fondo{height: 1100px;}
}

/*--------------------Mediaquery max-width:500px---------------*/
@media all and (max-width:500px){
    /*HEADER*/
    header{height: 270px;}
    header #lineaDos{height: 50px;}
}